<!-- <div class="container">
	<div class="item"></div>
	<div class="item"></div>
	<div class="item"></div>
</div> -->



<!-- <div class="flex-container">

	<div class="row">
		<div class="col">
			<label for="exampleEmail">Email Address</label>
			<input type="email" class="form-control" placeholder="Enter your email">
    </div>
			<div class="col">
				<label for="examplePassword">Password</label>
				<input type="password" class="form-control" placeholder="Enter your password">
    </div>
				<div class="col">
					<label for="examplePassword">Password</label>
					<input type="password" class="form-control" placeholder="Enter your password">
    </div>
				</div>
			</div>

			<div class="container">


				<div class="row justify-content-end">
					<div class="col-4">
						<label for="examplePassword">Password</label>

						<input type="password" class="form-control no-border" placeholder="xxx" disabled>
    </div>
						<div class="col-4 ">
							<label for="examplePassword">Password</label>

							<input type="label" class="form-control no-border" placeholder="xxx" disabled>
    </div>
							<div class="col-4">
								<label for="examplePassword">Password</label>

								<input type="label" class="form-control no-border" placeholder="xxx" disabled>
    </div>

							</div> -->






<!-- 

						<div class="new-flex-container">
							<div>
                <div class="new-flex-container-new">
            
                  <div>A</div>
                  <div>B</div>
                  
                  
                </div>
                
   <div class="new-flex-container-new">
            
                  <div>A</div>
                  <div>B</div>
                  
                  
                </div>							   <div class="new-flex-container-new">
            
                  <div>A</div>
                  <div>B</div>
                  
                  
                </div>
						</div> -->

