// .card {
//   margin-bottom: 10px;
// }

// .box {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   height: 200px;
// }

// .flex-container {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-between;
//   background-color: DodgerBlue;
// }

// .flex-container > div {
//   background-color: #f1f1f1;
//   width: 100px;
//   margin: 10px;
//   text-align: center;
//   line-height: 75px;
//   font-size: 30px;
// }

.custom-flex-container {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
}

.custom-item {
  font-weight: 600;
  width: 100px;
  height: 100px;
}

.new-container {
  display: flex;
  flex-wrap: wrap;
  background-color: gray;
  padding: 10px;
  //height: 100px;
}

.x {
  background-color: DodgerBlue;
  width: 70%;
}

.y {
  background-color: red;
  width: 30%;
}

  .currency-list {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    list-style-type: none;
    line-height: 32px;
    padding-left: 0px;

    &>li {
      width: 200px;
      height: 37px;
      margin-right: 22px;
    }
  }

// .end {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-between;
//   width: 30%;
// }
.row-list {
    &>ul{
      display: flex;
      flex-wrap: wrap;
      padding-right: 8px;
      background-color: grey;

      &>li{
        list-style: none;
        flex: 1 0 21%;
        text-align: right;
        margin: 5px;
        height: 50px;

      }
    }
  }