<!-- <div class="card text-right">
	<div class="card-header">

		<app-top-row>
    </app-top-row>
	</div>
	<div class="card-body">
		<p class="card-text">...</p>

		<div class="card text-right ">

			<div class="card-body">



				<div class="row">
					<div class="col-md-6">
						<div class="md-2">Widget 1</div>
					</div>
					<div class=" col-md-6">
						<div class="mt-2">Widget 2</div>
					</div>
				</div>


			</div>

		</div>


		<div class="card text-right">

			<div class="card-body">
				<div class="row">
					<div class="col-md-6">
						<div class="md-2">Widget 1</div>
					</div>
					<div class=" col-md-6">
						<div class="mt-2">Widget 2</div>
					</div>
				</div>
			</div>

		</div>

	</div>
	<div class="card-footer text-muted">
		<app-top-row></app-top-row>

	</div>
</div> -->
<!-- 
<div class="flex-container">
  <div>1</div>
  <div>2</div>
</div> -->


<ul class="custom-flex-container">
	<li class="custom-item">XXX</li>
	<li class="custom-item">XXX</li>
	<li class="custom-item">XXX</li>
	<li class="custom-item">XXX</li>
	<li class="custom-item">XXX</li>
	<li class="custom-item">XXX</li>
	<li class="custom-item">XXX</li>
	<li class="custom-item">XXX</li>
	<li class="custom-item">XXX</li>


</ul>