<div class="card text-right">
	card1
	<div class="card-header">
		Featured

<app-top-row></app-top-row>
	</div>
	<div class="card-body">
		<p class="card-text">...</p>

		<div class="card text-right ">
			card2
			<div class="card-body">
				<p class="card-text">...</p>
			</div>

		</div>


		<div class="card text-right">
			card3
			<div class="card-body">
				<p class="card-text">...</p>
			</div>

		</div>

	</div>
	<div class="card-footer text-muted">
		<app-top-row></app-top-row>

	</div>
</div>









