/* The heart of the matter */
/* .testimonial-group > .row {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}
.testimonial-group > .row > .col-4 {
  display: inline-block;
} */

/* Decorations */
.col-4 { color: #fff; font-size: 40px; padding-bottom: 20px; padding-top: 18px; }
.col-4:nth-child(3n+1) { background: #c69; }
.col-4:nth-child(3n+2) { background: #9c6; }
/* .col-4:nth-child(3n+3) { background: #69c; } */

/* .col-6 { color: #fff; font-size: 100px; padding-bottom: 20px; padding-top: 18px; }
.col-6:nth-child(3n+1) { background: #c69; }
.col-6:nth-child(3n+2) { background: #9c6; } */
/* .col-6:nth-child(3n+3) { background: #69c; } */

.col-8 { color: #fff; font-size: 40px; padding-bottom: 20px; padding-top: 18px; }
.col-8:nth-child(3n+1) { background: #c69; }
.col-8:nth-child(3n+2) { background: #9c6; }
/* .col-8:nth-child(3n+3) { background: #69c; } */


.row-fluid{
}
.row-fluid .col-4{
    display: inline-block;
}

/* .row-fluid .col-6{
    display: inline-block;
} */

.row-fluid .col-8{
    display: inline-block;
}
.new-container {
  display: flex;
  flex-wrap: wrap;
  background-color: gray;
  padding: 10px;
}

