<!-- <div class="container">
<div class="container testimonial-group">
  <div class="row text-center">
    <div class="col-4">1</div>
    <div class="col-4">2</div>

  </div>
</div> -->


<!-- <div class="span11" style="overflow: auto">
    <div class="row-fluid">
        <div class="col-4">COL1</div>
        <div class="col-4">COL1</div>
    </div>
</div>


<div class = "new-container" style="overflow: auto"> 
  <div class = "x">
<section>1</section>
  </div>
    <div class = "y">
<section>
  <label>x</label>
  <div>5000</div>
</section>
    </div>
</div> -->

<div class="container" style="overflow: auto">
    <div class="row-fluid">
        <div class="col-8">COL1</div>
        <div class="col-4">COL1</div>
    </div>
</div>
