
<div class="flex-container">
<div class="row">
			<div class="col-4">
				<div class="row justify-content-end">
					<label >label1</label>
				</div>
				<div class="row justify-content-end">

					1
				</div>
			</div>
			<div class="col-4">
				<div class="row justify-content-end">
					<label >label2</label>
				</div>
				<div class="row justify-content-end">

					2
				</div>
			</div>
			<div class="col-4">
				<div class="row justify-content-end">
					<label >label3</label>
				</div>
				<div class="row justify-content-end">

					3
				</div>
			</div>
		</div>
</div>




