.flex-container {
  display: flex;
  justify-content: flex-end;
}

.flex-container > div {
  background-color: #f1f1f1;
  margin-left: 50px;
  margin: 50px;
  padding: 20px;
  flex: 0 1 calc(200% - 50px);
}

/* .container {
  display: grid;
  height: 100px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  background: rgba(138, 135, 135, 0.24);
  justify-items: end;

} */
/* .item {
  width: 50%;
  height: 50%;
  background: rgba(255, 213, 70, 0.4);
} */

.no-border {
  border: 0;
  box-shadow: none; /* You may want to include this as bootstrap applies these styles too */
}

.new-flex-container {
  display: flex;
  flex-direction: row;
  background-color: grey;
}

.new-flex-container > div {
  display: flex;
  flex: 1 1 33%;
  justify-content: flex-end;
  /* width: 150px;
  height: 150px; */
  background-color: red;
  padding: 25px;
}

.new-flex-container-new {
  display: flex;
  flex-direction: column;
  background-color: grey;
}
