.flex-container {
  display: flex;
  justify-content: flex-end;
  
}

.flex-container > div {
  background-color: #f1f1f1;
   margin-right: auto; 
  /* margin: 50px; */
  flex: 0 1 calc(200% - 50px);
}


