  .row-list {

      display: flex;
      flex-wrap: wrap;
      padding-right: 8px;
      //background-color: yellow;

      &>li{
        list-style: none;
        flex: 1 0 21%;
        text-align: right;
        margin: 2px;
        padding: 0;
        height: 50px;

      }
    
  }

  .x{
    background-color: red;
  }

  .y{
    background-color: green;
  }

  .flex-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
}

.flex-item-left {
  background-color: #f1f1f1;
  padding: 10px;
  flex: 50%;
}

.flex-item-right {
  background-color: dodgerblue;
  padding: 10px;
  flex: 50%;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}